@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    width: 100%;
    height:fit-content;
    /* position: relative; */
    /* display: flex; */

}

header{
    width: 100%;
    /* position: relative; */
    height: 0.5px;
    background: linear-gradient(#f2f2f2,#062863);
}
aside {
    width: 80px;
    /* text-align: center; */
    height: 100vh;
    position: fixed;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    background-color: #062863;
    top: 0;
    left: 0;
    /* position: absolute; */
    /* background-color: blue; */
}


aside.active~.main {
    left: 15%;
    width: calc(100% - 15%);
}

aside.active {
    width: 15%;
}

aside #bot {
    position: absolute;
    top: .4rem;
    left: 80%;
    color: white;
    font-size: 2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

aside.active #bot {
    left: 90%;
}

aside .top .logo img {
    text-align: center;
    height: 5vh;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

aside.active .top .logo img {
    opacity: 1;
    width: 9em;
}

.li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0.8rem auto;
    line-height: 80px;
}

.sap {
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover {
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    color: #062863;
}

aside .nav-item {
    opacity: 0;
}

aside.active .nav-item {
    opacity: 1;
}

.sap i,
.move i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    padding-right: 30px;
}

.move  {
    /* padding-right: 30px; */
    padding-top: 40vh;
    padding-bottom: 10vh;

}

main{
    position: relative;
    /* min-height: 100vh; */
    height:1000vh;
    top: 0;
    left: 80px;
    background-color: #fcf6f683;
    /* border: 1px solid firebrick; */
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: .5rem 1rem;
}

.bxs-user-circle{
    font-size: 40px;
}
.name h1{
    font-size: 30px;
    font-weight: 700;
}
.name p{
    font-size: 14px;
}
.bxs-low-vision{
    font-size: 40px;
}
.row .nam{
    background-color: #045cd2;
    border-bottom-left-radius: 0px;
    margin-bottom: 14px;
    color: white;
    margin-left: 10px;
}
.overflow {
    /* border: 1px solid blue; */
    margin: auto;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    max-width: 100%;
    overflow-y: hidden;
}

.blac {
    color: #fff;
    min-width: 260px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    height: 120px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    background-color: black;
}

.text {
    height: 100%;
    width:80%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    /* align-items: center; */
    padding-left: 10px;
}

.blac h1 {
    font-size: 20px;
    margin-bottom: -1px;
    color: grey;
}

.blac p {
    font-size: 25px;
}

.icon i {
    font-size: 55px;
}

.list-flex{
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    border: 1px solid red;
    /* height: 150vh; */
    margin-bottom: 20px;
    justify-content: space-evenly;
}
.todo{
    width: 60%;
    height: fit-content;
}
.to{
    width: 90%;
    height: 60px;
    padding: 15px;
    border:1px solid gray;
    margin: 15px;
    margin-left: 0px;
    border-radius: 6px;
    border-bottom-left-radius: 1px;
}
.too{
    width: 90%;
    height: 70px;
    padding: 15px;
    border:1px solid blue;

    margin: 15px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border-bottom-left-radius: 1px;
}
.too i{
    color: blue;
    font-size: 35px;
}
.too p{
    margin-top: -8px;
}
.to input{
   
    color: #045cd2;
    font-size: 20px;
    padding: 5px;
}

.best{
    width:30% ;
}
.best img{
    width: 100%;
    border-radius: 5px;
}


#transferr,
#payment,
#trans,
#airtime{
    position:absolute;
    top:0;
    left: 70%;
    display: none;
    background-color: #fff;
    height: 100%;
    width: 30%;
    padding: 15px;
    transition: 3s all ease-in-out;
    box-shadow: 2px 4px 4px 4px rgba(0,0,0,0.5);
    /* text-align: center; */
}
/* #transferr{
    position: relative;
} */
#trans{
    position:absolute;
    top:0%;
    left: 0%;
    margin: auto;
    display: none;
    background-color: #fff;
    height: 100%;
    width: 100%;
    /* border-radius: 2px; */
    padding: 15px;
    transition: 3s all ease-in-out;
    box-shadow: 4px 6px 6px 6px rgba(0,0,0,0.5); 
}
#reciept{
    position:absolute;
    top:0%;
    left: 0%;
    margin: auto;
    display: none;
    background-color: #fff;
    height: 100%;
    width: 100%;
    /* border-radius: 2px; */
    padding: 5px;
    transition: 3s all ease-in-out;
    box-shadow: 4px 6px 6px 6px rgba(0,0,0,0.5); 
}
.payFlex{
    display: flex;
    justify-content: space-between;
}
.payFlex h1{
 font-size: 25px;
}
#transferr input,
#payment input,
#trans input,
#airtime input{
    color: blue;
    border-color: blue;
    /* border: none; */
    border: 1px solid blue;
    padding: 5px;
    outline: none;
}
#transferr button,
#payment button,
#trans button{
    background-color: transparent;
    color: blue;
    border: none;
}