body{
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    position:sticky;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    height: 120vh;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    background-color: #062863;
}
.sidebar.active ~ .main-content{
    left: 15%;
    width: calc(100% - 15%);
}
.sidebar.active{
    width: 15%;
}
.sidebar #bot{
    position: absolute;
    top: .4rem;
    left: 50%;
    color: white;
    font-size: 2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #bot{
    left: 90%;
}
.sidebar .top .logo img{
    text-align: center;
    height: 5vh;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}
.sidebar.active .top .logo img{
    opacity: 1;
    width: 9em;
}
.sidebar .ull .lii{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar .ull .lii .sap{
    color: white;
    text-align: center;
    text-decoration: none;
}
.sidebar .ull .lii .nav-item:hover{
    padding: 10px 20px;
    background-color: white;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    color: #062863;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.sidebar .ull .lii .sap i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    padding-right: 30px;
}
.move{
    padding-top: 50vh;
}



/* ----------MAIN__CONTENT----------- */
.main-content{
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: .5rem 1rem;
}
.bxs-user-circle{
    font-size: 40px;
}
.name h1{
    font-size: 30px;
    font-weight: 700;
}
.name p{
    font-size: 14px;
}
.bxs-low-vision{
    font-size: 40px;
}
.nam{
    background-color: #045cd2;
    border-bottom-left-radius: 0px;
    margin-bottom: 14px;
    color: white;
}
.boxes{
    gap: 20px;
}
.box{
    width: 18%;
    height: 15vh;
    padding: 20px;
    gap: 10px;
}
.lone{
    font-size: 40px;
    color: white;
}
.lone1 b{
    font-size: 13px;
    color: gainsboro;
}
.lone1 p{
    font-size:20px;
    color: white;
    font-weight: bolder;
}
.small{
    font-size: 12px;
}
.inp{
    align-items: center;
    gap: 20px;
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}
.small1{
    font-size: 12px;
    font-weight: 700;
    color: gray;
}
.inp1{
    border: 1px solid #045cd2;
    color: #045cd2;
}
.sam{
    font-size: 11px;
}
.sm-img{
    width: 500px;
}
/* End of Section1 */








@media (max-width: 1534px) {
    /* .boxes{
        overflow-x: auto;
    } */
    .box{
    min-width: 18%;
    }
}

@media (max-width: 980px) {
    .boxes{
        width: 100%;
    }
    .box{
    min-width: 40%;
    }
}

@media (max-width: 980px) {
    .boxes{
        width: 100%;
    }
    .box{
    min-width: 40%;
    }
}

@media (max-width: 654px) {
    .boxes{
        width: 100%;
    }
    .box{
    min-width: 40%;
    }
}

@media (max-width: 490px) {
    .boxes{
        width: 100%;
        gap: 10px;
    }
    .box{
    padding: 10px;
    min-width: 45%;
    }
}

@media (max-width: 430px) {
    .name p{
        font-size: 12px;
    }
    .bxs-user-circle{
        font-size: 30px;
    }
    .lone{
        font-size: 15px;
    }
    .lone1 b{
        font-size: 10px;
    }
    .lone1 p{
        font-size: 15px;
    }
}